body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


/*styling of App div*/
.App{
  position:relative;
  height:470px;
  width:280px;
  padding:10px 10px 10px 10px;
  align-items:center;
  justify-content:center;
  border-radius:40px;
  background-color: grey;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  margin: 10% auto;
}

/*styling of container of wheel*/
.container{
  position:relative;
  height:200px;
  width:250px;
  display:flex;
  align-items: center;
  justify-content: center;
  margin:10px auto;
}
/*styling of outer-circle*/
.outer-circle{
  position:relative;
  width:200px;
  height:200px;
  border-radius:50%;
  background-color:white;
  display:flex;
  align-items: center;
  justify-content:center;  
}
/*styling of menu*/
.menu{
  position:absolute;
  top:25px;
  font-size:15px;
  color:gray;
}
/*styling of play-pause btn*/
.play-pause{
  position:absolute;
  height:25px;
  width:25px;
  bottom:20px;
}
/*styling of prev btn*/
.rewind{
  position:absolute;
  height:35px;
  width:35px;
  left:15px;
}
/*styling of next btn*/
.forward{
  position:absolute;
  height:35px;
  width:35px;
  right:15px;

}
/*styling of inner-circle*/
.inner-circle{
  width:100px;
  height:100px;
  border-radius:70%;
  background-color: gray;
}
.menu-btn:hover, .play-pause:hover, .prev, .next:hover, .inner-circle{
  cursor:pointer;
}


/*display*/
.display-screen{
  position: relative;
  height: 240px;
  width: 275px;
  margin-bottom: 5px;
  border-radius: 10px;
  background-image: url(https://www.macworld.co.uk/cmsdata/features/3793151/apple_logo_thumb1200_4-3.jpg);
  background-position: center;
  background-size: cover;
  border:2px solid black;
  margin-top:10px;
}
/*styling of mainMENU*/
.mainMenu{
  height: 240px;
  width: 140px;
  border-radius:10px 0px 0px 10px;
  background-color: white;
}
.heading{
  padding: 5px;
  font-size: 40px;
  margin-top:20px;
  font-weight: 500;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
.menu-list{
  list-style: none;
  padding-left: 5px;
  padding-right: 7px;
  margin-top:20px;
}
.menu-list li{
  position: relative;
  padding: 5px 5px 5px 5px;
  font-size:20px;
}
.menu-list li:hover{
  background-color: #2f70e1;
  cursor: pointer;
  color: #dedede;
  font-weight: bold;
}
.menu-list li::after{
  position: absolute;
  right: 2px;
  content: '>';
  font-size: large;
  color: #b9b8b8;
}
/*styling for selected item in list*/
.select{
  background-color: #2f70e1;
  color: #dedede;
  font-weight: bold;
}
.unselect{
  color: black;
}
